.movie-card {
  width: 280px;
  background: #111;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.movie-poster {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-info {
  padding: 12px;
}

.movie-info p {
  font-size: 13px;
  color: #ccc;
}
